<div class="w3-container w3-card w3-white w3-margin-bottom">
  <h2 class="w3-text-grey w3-padding-16"><span class="glyphicon glyphicon-education fa-fw w3-margin-right w3-xxlarge w3-text-teal"></span> Education</h2>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Ada Tech</b></h5>
    <h6 class="w3-text-teal"><span class="glyphicon glyphicon-calendar"></span> 2022 - 2023</h6>
    <p>Web Full Stack</p>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Let's Code</b></h5>
    <h6 class="w3-text-teal"><span class="glyphicon glyphicon-calendar"></span> 2013 - 2015</h6>
    <p>Java</p>
    <hr>
  </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Universidade</b></h5>
    <h6 class="w3-text-teal"><span class="glyphicon glyphicon-calendar"></span> 2010 - 2014</h6>
    <p>Bachelor Degree</p>
  </div>
</div>
